---
import OpeningHoursButton from "@components/OpeningHoursButton.astro";
import ShareButton from "@components/ShareButton.astro";
import type { HeaderProfileInterface } from "@datas/blocks.type";
import { site } from "@datas/site";
import { Image } from "astro:assets";
import clsx from "clsx";
import { format, isWithinInterval } from "date-fns";
import { id } from "date-fns/locale";
import Str from "lodash";
import { toZonedTime } from "date-fns-tz";

const now = toZonedTime(new Date(), site.timezone);

// Type & Interfaces
interface content {
    content: HeaderProfileInterface;
}

// Vars
const { content } = Astro.props;
const today = format(now, "EEEE", { locale: id });
const todayOpeningHours = site.openingHours[Str.lowerCase(today)];
const isOpen = isWithinInterval(now, {
    start: todayOpeningHours.open,
    end: todayOpeningHours.close
});
const cafeStatus = isOpen ? "Buka" : "Tutup";
---

<section class="relative pt-28 pb-6">
    <!-- ShareButton -->
    <ShareButton class="absolute top-0 right-0 m-6 z-10" />
    <!-- openingHoursButton -->
    <OpeningHoursButton class="absolute top-0 left-0 m-6 z-10" />
    <!-- Bg Cover -->
    <Image
        src={content.bgCover}
        alt={`Background cover ${content.title}`}
        class="absolute inset-0 w-full h-full object-cover object-center mask-b-from-0 mask-b-to-65"
    />
    <div class="flex flex-col items-center">
        <!-- Avatar -->
        <div class={clsx("avatar indicator")}>
            <span
                class={clsx(
                    "indicator-item indicator-bottom indicator-center badge badge-soft badge-outline font-bold",
                    isOpen ? "badge-success" : "badge-error"
                )}>{cafeStatus}</span
            >
            <div
                class={clsx(
                    "w-24 rounded-full shadow-xl shadow-accent border",
                    isOpen ? "border-success" : "border-error"
                )}
            >
                <Image src={content.profilePicture} alt={`Profile picture ${content.title}`} width={500} height={500} />
            </div>
        </div>
        <!-- Tagline -->
        <div class="mt-6 text-center">
            <h1 class="font-bold text-2xl text-primary">{content.title}</h1>
            <h3 class="text-sm text-base-content/75">{content.subtitle}</h3>
        </div>
    </div>
</section>
