---
import type { ListMenuInterface } from "@datas/blocks.type";
import { Image } from "astro:assets";
import ShareIcon from "@icons/lucide/share2.svg";
import clsx from "clsx";

// Type & Interfaces
interface Props {
    content: ListMenuInterface[];
}

// Vars
const { content } = Astro.props;
---

<section class="relative">
    {
        content.map((item) => {
            return (
                <div class="flex flex-col px-4 mb-6" id={item.id}>
                    <div
                        class={clsx(
                            "flex flex-row justify-between my-6 gap-6",
                            item.description ? null : "items-center"
                        )}
                    >
                        <div>
                            {item.title && <h3 class="text-2xl font-bold">{item.title}</h3>}
                            {item.description && <p class="text-sm text-base-content/75">{item.description}</p>}
                        </div>
                        <div>
                            <button
                                class="btn btn-soft btn-circle tooltip tooltip-left"
                                data-tip="Bagikan menu"
                                data-action="copyLinkMenu"
                                data-params={JSON.stringify({
                                    title: item.title,
                                    description: item.description,
                                    href: item.id
                                })}
                            >
                                <ShareIcon />
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-col gap-6">
                        {/* Menu image */}
                        {Array.isArray(item.children) && item.type === "images" && (
                            <div class="grid grid-cols-1 gap-6">
                                {item.children?.map((image, index) => {
                                    return (
                                        <Image
                                            src={image}
                                            alt={`Menu ${item.title} - ${index}`}
                                            width={image.width}
                                            height={image.height}
                                            class="rounded-box shadow shadow-secondary/35"
                                            loading="lazy"
                                        />
                                    );
                                })}
                            </div>
                        )}
                        {/* Menu text */}
                        {Array.isArray(item.children) && item.type === "text" && (
                            <ul class="flex flex-col list-none">
                                {item.children?.map((item, index) => {
                                    return (
                                        <li class="flex flex-col mb-4">
                                            <div class="flex items-center">
                                                <span class="whitespace-nowrap">{item.name}</span>
                                                <span class="divider w-full mx-2 pt-4 m-0" />
                                                <span class="whitespace-nowrap">{item.price}</span>
                                            </div>
                                            {item.description && (
                                                <small class="text-base-content/75">{item.description}</small>
                                            )}
                                        </li>
                                    );
                                })}
                            </ul>
                        )}
                    </div>
                </div>
            );
        })
    }
</section>
