---
import type { ListLinkInterface } from "@datas/blocks.type";
import clsx from "clsx";
import { Icon } from "astro-iconify";
import { Image } from "astro:assets";

// Type & Interfaces
interface Props {
    content: ListLinkInterface[];
}

// Vars
const { content } = Astro.props;
---

<section class="relative">
    <ul class="menu menu-vertical w-full gap-2 bg-transparent">
        {
            content.map((link) => {
                return (
                    <li>
                        <a href={link.href} class={clsx("btn mx-4", link.style)}>
                            {link.icon.type === "icon" && <Icon name={link.icon.name} class={clsx(link.icon.style)} />}
                            {link.icon.type === "image" && (
                                <Image
                                    src={link.icon.name as ImageMetadata}
                                    alt={`${link.label} dock icon`}
                                    width={500}
                                    height={500}
                                    class={clsx("aspect-square object-center object-contain", link.icon.style)}
                                />
                            )}
                            {link.label}
                        </a>
                    </li>
                );
            })
        }
    </ul>
</section>
